// Place all the styles related to the Ldom controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    width:100%;
    border: 1px solid black;
    border-collapse: collapse;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
table th	{
    background-color: black;
    color: white;
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}
a:-webkit-any-link {
    color: white;
    cursor: auto;
}

td.state {
}
.red {
    color: #f00;
}
.alertred {
    background-color: #f77;
}
.yellow {
    color: #ff9;
}
.green {
    color: #9f9;
}
